body{
    background-color: rgba(255, 228, 196, 0.705);
}
.home{
    font-family: "Poppins", sans-serif;
    background-color: #f5fff8;
    color: #1b4332;
}
.main{
    width:100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 80px;
    text-align: center;
}
.main_content{
    padding-top: 60px;
}
.main_content h1{
    font-size: 3rem;
    margin-bottom: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main_content p{
    font-size: 1.5rem;
    color: greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}