body{
    background-color: rgba(255, 228, 196, 0.705);
}
.home{
    font-family: "Poppins", sans-serif;
    background-color: #f5fff8;
    color: #1b4332;
}
.main{
    width:100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 80px;
    text-align: center;
}
.main_content{
    padding-top: 60px;
}
.main_content h1{
    font-size: 3rem;
    margin-bottom: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main_content p{
    font-size: 1.5rem;
    color: greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main_buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.main_buttons button{
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn_report{
    background-color: #065f46;
    color: white;
}
.btn_report:hover {
    background-color: #064e3b;
}
.btn_hospitals{
    background-color: #facc15;
    color: #1b4332;
}