*{
    margin:0;
    padding:0;
}
.loginbox{
    position: fixed;
    top: 15%;
    left: 28%;
    right: 0;
    width: 50%;
    height: 500px;
    background-color:rgb(71, 169, 78);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 16px;
    border-radius: 15px;
}
.loginheader{
    padding-bottom: 50%;
    padding-left: 40%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    padding-top: 20px;
}