*{
    margin:0;
    padding:0;
}
.loginbox{
    position: fixed;
    top: 15%;
    left: 28%;
    right: 0;
    width: 50%;
    height: 500px;
    background-color:rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    box-sizing: border-box;
    padding: 0 16px;
    border-radius: 15px;
}
.loginheader{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 80px;
}
.table{
    margin-bottom: 100px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    border-collapse: collapse;

}
.table td{
    padding: 8px 12px;

}
.textbox input{
    width: 250px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}